/* Change navbar background color */
.navbar {
  background-color: transparent
}

/* Change navbar text color */
.navbar .navbar-nav .nav-link {
  color: white;
}

/* Change navbar active link color */
.navbar .navbar-nav .nav-item.active .nav-link {
  color: yellow;
}

/* Change navbar hover link color */
.navbar .navbar-nav .nav-link:hover {
  color: yellow;
}

/* Change navbar brand color */
.navbar .navbar-brand {
  font-size: 1.5em;
  line-height: 1.5em;
  color: yellow;
}

#defaultContent {
  display: none;
}

.header {
  background-image: url('images/k1go_sketch2blue.png');
  /* background image fills width */
  background-size: cover;
  color: white;
  text-align: left;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: dodgerblue;
  background-blend-mode: multiply;
}

.brand-color {
  color: dodgerblue;
}

/* content section 1 */
.color-box-1 {
  background-color: dodgerblue;
  text-align: left;
  color: white;
}

/* below fixes header */
#work::before {
  content: "";
  display: block;
  height: 270px;
  /* Replace with the height of your header */
  margin-top: -270px;
  /* Negative value of your header's height */
  visibility: hidden;
  pointer-events: none;
}

body {
  padding-top: 270px;
}

/* initially, may be changed by javascript */
/* add box shadow below img.card-img-top */
img.card-img-top {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

#logos .img-fluid {
  filter: grayscale(100%) brightness(180%);
  max-height: 50px;
  width: auto;
}

.img-fluid.border {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

#hero {
  transition: opacity 0.3s ease-in-out, max-height 0.3s ease-in-out;
  max-height: 1000px;
  /* adjust this to the maximum possible height of your #hero div */
  opacity: 1;
  overflow: hidden;
}

.navbar-toggler.collapsed .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-list' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5'/%3E%3C/svg%3E");
}

.navbar-toggler:not(.collapsed) .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-x-lg' viewBox='0 0 16 16'%3E%3Cpath d='M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z'/%3E%3C/svg%3E");
}
.img-ratio {
  position: relative;
  width: 100%;
  padding-bottom: 75%; /* for 4:3 aspect ratio */
  overflow: hidden;
}
.h4w3 {
  padding-bottom: 75%; /* for 4:3 aspect ratio */
}
.h1w1 {
  padding-bottom: 100%; /* for 1:1 aspect ratio */
}

.img-ratio img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.pos-left {
  object-position: 0 center;
}
.pos-right {
  object-position: 100% center;
}
.nav-link.active{color: yellow; border-bottom: 3px solid yellow;}