/* Change navbar background color */
.navbar {background-color: transparent}
/* Change navbar text color */
.navbar .navbar-nav .nav-link {color: white;}
/* Change navbar active link color */
.navbar .navbar-nav .nav-item.active .nav-link {color: yellow;}
/* Change navbar hover link color */
.navbar .navbar-nav .nav-link:hover {color: yellow;}
/* Change navbar brand color */
.navbar .navbar-brand {color: white; font-size: 1.5em; line-height: 1.5em; color: yellow;}
#defaultContent{display: none;}
.header{
    background-image: url('images/k1go_sketch2blue.png');    
    /* background image fills width */
    background-size: cover;
    color: white;
    text-align: left;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: dodgerblue;
    background-blend-mode: multiply;
}
.brand-color{color: dodgerblue;}
/* content section 1 */
.color-box-1{
    background-color: dodgerblue;
    text-align: left;
    color: white;
}
/* below fixes header */
#work::before {
    content: "";
    display: block;
    height: 270px; /* Replace with the height of your header */
    margin-top: -270px; /* Negative value of your header's height */
    visibility: hidden;
    pointer-events: none;
  }
  body{padding-top:270px;} /* initially, may be changed by javascript */
  /* add box shadow below img.card-img-top */
  img.card-img-top{box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);}
  #logos .img-fluid {
    filter: grayscale(100%) brightness(180%);
    max-height: 50px; width: auto;
  }
  .img-fluid.border{box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);}

  #hero {
    transition: opacity 0.3s ease-in-out, max-height 0.3s ease-in-out;
    max-height: 1000px; /* adjust this to the maximum possible height of your #hero div */
    opacity: 1;
    overflow: hidden;
  }